---
import type { CollectionEntry } from "astro:content";

interface Props {
    post: CollectionEntry<"posts">;
}

const { post } = Astro.props;
---

<article>
    <a href={`/blog/${post.slug}`}>
        <img
            src={post.data.image}
            width={600}
            height={600 / 1.5}
            alt={post.data.title}
            class="rounded-2xl shadow-xl mb-4 aspect-thumbnail object-cover"
        />
    </a>
    <h2>{posts.data.title}</h2>
</article>
